# Imports

In [1]:
from areyoutheone import AreYouTheOne

# Model Setup

In [2]:
men = ["Alec", "Austin", "Chuck", "Connor", "Devin", "Hunter", "Mike", "Nelson", "Tyler", "Zak"]
women = ["Amanda", "Britni", "Chelsey", "Cheyenne", "Hannah", "Kayla", "Kiki", "Melanie", "Rashida", "Stacey"]

model = AreYouTheOne(men, women)

Create a class with a callback to record number of solutions in which a given match occurred

# Week 1

In [3]:
matchups_w1 = [
    ("Alec", "Stacey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Chelsey"),
    ("Devin", "Melanie"),
    ("Hunter", "Britni"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Kayla")
]
model.add_matching_ceremony(2, matchups_w1)
model.add_truth_booth("Hunter", "Kiki", False)

In [ ]:
counts_w1 = model.solve(print_every=100000)

100000
200000
300000

In [ ]:
model.display()

# Week 2

In [6]:
matchups_w2 = [
    ("Alec", "Chelsey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Kayla"),
    ("Devin", "Melanie"),
    ("Hunter", "Stacey"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Britni")
]
model.add_matching_ceremony(0, matchups_w2)
model.add_truth_booth("Devin", "Kiki", False)

In [7]:
counts_w2 = model.solve(print_every=10000)

10000
20000
30000
40000
50000
60000

In [8]:
model.display()

# Week 3

In [9]:
matchups_w3 = [
    ("Alec", "Stacey"),
    ("Austin", "Amanda"),
    ("Chuck", "Kiki"),
    ("Connor", "Chelsey"),
    ("Devin", "Rashida"),
    ("Hunter", "Britni"),
    ("Mike", "Kayla"),
    ("Nelson", "Melanie"),
    ("Tyler", "Cheyenne"),
    ("Zak", "Hannah")
]
model.add_matching_ceremony(3, matchups_w3)
model.add_truth_booth("Zak", "Kiki", False)

In [10]:
counts_w1 = model.solve(print_every=2000)

2000
4000
6000
8000
10000
12000
14000

In [11]:
model.display()