# Imports

In [1]:
from areyoutheone import AreYouTheOne

%load_ext autoreload
%autoreload 2

# Model Setup

In [2]:
men = ["Alec", "Austin", "Chuck", "Connor", "Devin", "Hunter", "Mike", "Nelson", "Tyler", "Zak"]
women = ["Amanda", "Britni", "Chelsey", "Cheyenne", "Hannah", "Kayla", "Kiki", "Melanie", "Rashida", "Stacey"]

model = AreYouTheOne(men, women)

# Week 1

*warning: solver in week 1 will take a couple minutes given how few constraints we have*

In [3]:
matchups_w1 = [
    ("Alec", "Stacey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Chelsey"),
    ("Devin", "Melanie"),
    ("Hunter", "Britni"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Kayla")
]
model.add_matching_ceremony(2, matchups_w1)
model.add_truth_booth("Hunter", "Kiki", False)

In [4]:
# counts_w1 = model.solve(print_every=100000)

In [5]:
# model.display()

# Week 2

In [6]:
matchups_w2 = [
    ("Alec", "Chelsey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Kayla"),
    ("Devin", "Melanie"),
    ("Hunter", "Stacey"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Britni")
]
model.add_matching_ceremony(0, matchups_w2)
model.add_truth_booth("Devin", "Kiki", False)

In [7]:
# counts_w2 = model.solve(print_every=10000)

In [8]:
# model.display()

# Week 3

In [9]:
model.minmax_truth_booth([
    ("Chuck", "Amanda"),
    ("Mike", "Britni"),
    ("Zak", "Kiki")
])

AttributeError: 'NoneType' object has no attribute 'n_solutions'

In [10]:
matchups_w3 = [
    ("Alec", "Stacey"),
    ("Austin", "Amanda"),
    ("Chuck", "Kiki"),
    ("Connor", "Chelsey"),
    ("Devin", "Rashida"),
    ("Hunter", "Britni"),
    ("Mike", "Kayla"),
    ("Nelson", "Melanie"),
    ("Tyler", "Cheyenne"),
    ("Zak", "Hannah")
]
model.add_matching_ceremony(3, matchups_w3)
model.add_truth_booth("Zak", "Kiki", False)

In [11]:
counts_w1 = model.solve(print_every=2000)

2000
4000
6000
8000
10000
12000
14000

In [12]:
model.display()

# Week 4

Let $m_i$, $w_i$, $i\in[1..10]$ be the men and women.  Let $M$ denote a matching, $M^*$ denote the perfect matching, aka $M^* = \{(m_{i_1}, w_{j_1})...\}$. Let $V$ denote the set of all valid matchings (given the constraints thus far) and $N = |V|$.  Let $c_{ij}$ be a couple $(m_i, w_j)$. Let 
$$p_{ij} = p_{c_{ij}} = \Pr[c_{ij} \in M^*] \approx \frac{|\{M \in V \mid c_{ij} \in M \}|}{|V|}$$
One strategy for picking truth booth might be:
$$c^* = \arg\min_{c} \left\{ p_c^2 \cdot N + (1-p_c)^2\cdot N\right\} $$
minimizing with respect to $p$ gives $p = 0.5$, so we should be able to simply pick the the couple closest to 50/50 odds of being a match or not.  We could also minimize the worst case, aka minimize the maximum possible number of remaining solutions after revealing the TB answer. 
$$c^* = \arg\min_{c} \left\{ \max\{p\cdot N, (1-p)\cdot N\} \right\}$$

To choose the couples for the matching ceremony is harder.  We could do the same strategy for the truth booth, aka minimize expected number of remaining matchings.  Suppose a matching $M^\star \in V$ were the true matching, then for a given $M\in V$, $\ell(M,M^\star)= |M \cap M^\star|$ denotes the number of lights $M$ would get at the matching ceremony.

We then take 
$$ M^* = \arg\min_{M\in V} \sum_k \Pr_{M^\star}[\ell(M, M^\star)=k] \cdot \left|\left\{M\in V\mid \ell(M,M^\star)=k\right\}\right|$$

In [13]:
model.min_expected_truth_booth([
    ("Chuck", "Britni"),
    ("Zak", "Cheyenne")
])

{('Chuck', 'Britni'): 12764.177294925332, ('Zak', 'Cheyenne'): 11044.471158609951}

('Zak', 'Cheyenne')

In [14]:
model.add_truth_booth("Chuck", "Britni", False)

In [15]:
counts_w4 = model.solve(print_every=2000)

2000
4000
6000
8000
10000
12000

In [16]:
model.display()

In [17]:
matchups_w4 = [
    ("Alec", "Amanda"),
    ("Austin", "Stacey"),
    ("Chuck", "Kiki"),
    ("Connor", "Chelsey"),
    ("Devin", "Hannah"),
    ("Hunter", "Rashida"),
    ("Mike", "Kayla"),
    ("Nelson", "Britni"),
    ("Tyler", "Melanie"),
    ("Zak", "Cheyenne")
]
model.add_matching_ceremony(2, matchups_w4)

In [18]:
counts_w4_2 = model.solve()
model.display()

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700

# Week 5

In [19]:
model.min_expected_truth_booth([
    ("Connor", "Chelsey"),
    ("Nelson", "Rashida")
])

{('Connor', 'Chelsey'): 2164.6920583468395, ('Nelson', 'Rashida'): 2869.4381415451107}

('Connor', 'Chelsey')

In [20]:
model.add_truth_booth("Connor", "Chelsey", True)

In [21]:
counts_w5_1 = model.solve(print_every=1000)
model.display()

1000
2000

In [22]:
matchups_w5 = [
    ("Alec", "Stacey"),
    ("Austin", "Hannah"),
    ("Chuck", "Kiki"),
    ("Connor", "Chelsey"),
    ("Devin", "Cheyenne"),
    ("Hunter", "Melanie"),
    ("Mike", "Britni"),
    ("Nelson", "Rashida"),
    ("Tyler", "Amanda"),
    ("Zak", "Kayla")
]
model.add_matching_ceremony(2, matchups_w5)

In [23]:
counts_w5_2 = model.solve()
model.display()

100
200
300
400
500
600
700
800