# Imports

In [6]:
from areyoutheone import AreYouTheOne

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Model Setup

In [7]:
men = ["Alec", "Austin", "Chuck", "Connor", "Devin", "Hunter", "Mike", "Nelson", "Tyler", "Zak"]
women = ["Amanda", "Britni", "Chelsey", "Cheyenne", "Hannah", "Kayla", "Kiki", "Melanie", "Rashida", "Stacey"]

model = AreYouTheOne(men, women)

# Week 1

*warning: solver in week 1 will take a couple minutes given how few constraints we have*

In [8]:
matchups_w1 = [
    ("Alec", "Stacey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Chelsey"),
    ("Devin", "Melanie"),
    ("Hunter", "Britni"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Kayla")
]
model.add_matching_ceremony(2, matchups_w1)
model.add_truth_booth("Hunter", "Kiki", False)

In [9]:
# counts_w1 = model.solve(print_every=100000)

In [10]:
# model.display()

# Week 2

In [11]:
matchups_w2 = [
    ("Alec", "Chelsey"),
    ("Austin", "Kiki"),
    ("Chuck", "Hannah"),
    ("Connor", "Kayla"),
    ("Devin", "Melanie"),
    ("Hunter", "Stacey"),
    ("Mike", "Amanda"),
    ("Nelson", "Cheyenne"),
    ("Tyler", "Rashida"),
    ("Zak", "Britni")
]
model.add_matching_ceremony(0, matchups_w2)
model.add_truth_booth("Devin", "Kiki", False)

In [12]:
counts_w2 = model.solve(print_every=10000)

10000
20000
30000
40000
50000
60000

In [13]:
model.display()

# Week 3

In [14]:
model.minmax_truth_booth([
    ("Chuck", "Amanda"),
    ("Mike", "Britni"),
    ("Zak", "Kiki")
])

{('Chuck', 'Amanda'): 54824, ('Mike', 'Britni'): 59109, ('Zak', 'Kiki'): 57160}

('Chuck', 'Amanda')

In [15]:
model.min_expected_truth_booth([
    ("Chuck", "Amanda"),
    ("Mike", "Britni"),
    ("Zak", "Kiki")
])

{('Chuck', 'Amanda'): 48664.13162890774, ('Mike', 'Britni'): 55541.63526768764, ('Zak', 'Kiki'): 52269.39476015694}

('Chuck', 'Amanda')

In [9]:
matchups_w3 = [
    ("Alec", "Stacey"),
    ("Austin", "Amanda"),
    ("Chuck", "Kiki"),
    ("Connor", "Chelsey"),
    ("Devin", "Rashida"),
    ("Hunter", "Britni"),
    ("Mike", "Kayla"),
    ("Nelson", "Melanie"),
    ("Tyler", "Cheyenne"),
    ("Zak", "Hannah")
]
model.add_matching_ceremony(3, matchups_w3)
model.add_truth_booth("Zak", "Kiki", False)

In [10]:
counts_w1 = model.solve(print_every=2000)

2000
4000
6000
8000
10000
12000
14000

In [11]:
model.display()

# Week 4

Let $m_i$, $w_i$, $i\in[1..10]$ be the men and women.  Let $M$ denote a matching, $M^*$ denote the perfect matching, aka $M^* = \{(m_{i_1}, w_{j_1})...\}$. Let $V$ denote the set of all valid matchings (given the constraints thus far) and $N = |V|$.  Let $c_{ij}$ be a couple $(m_i, w_j)$. Let 
$$p_{ij} = p_{c_{ij}} = \Pr[c_{ij} \in M^*] \approx \frac{|\{M \in V \mid c_{ij} \in M \}|}{|V|}$$
One strategy for picking truth booth might be:
$$c^* = \arg\min_{c} \left\{ p_c^2 \cdot N + (1-p_c)^2\cdot N\right\} $$
minimizing with respect to $p$ gives $p = 0.5$, so we should be able to simply pick the the couple closest to 50/50 odds of being a match or not.  We could also minimize the worst case, aka minimize the maximum possible number of remaining solutions after revealing the TB answer. 
$$c^* = \arg\min_{c} \left\{ \max\{p\cdot N, (1-p)\cdot N\} \right\}$$

To choose the couples for the matching ceremony is harder.  We could do the same strategy for the truth booth, aka minimize expected number of remaining matchings.  Suppose a matching $M^\star \in V$ were the true matching, then for a given $M\in V$, $\ell(M,M^\star)= |M \cap M^\star|$ denotes the number of lights $M$ would get at the matching ceremony.

We then take 
$$ M^* = \arg\min_{M\in V} \sum_k \Pr_{M^\star}[\ell(M, M^\star)=k] \cdot \left|\left\{M\in V\mid \ell(M,M^\star)=k\right\}\right|$$